VEHICLESENSE_SIM_MQTT_HOST=YOUR_CLUSTER.s1.eu.hivemq.cloud
VEHICLESENSE_SIM_MQTT_PORT=8883
VEHICLESENSE_SIM_MQTT_USERNAME=YOUR_SIMULATOR_USER
VEHICLESENSE_SIM_MQTT_PASSWORD=YOUR_SIMULATOR_PASSWORD
VEHICLESENSE_SIM_MQTT_CA_FILE=
VEHICLESENSE_SIM_TOPIC_PREFIX=vehiclesense/v1
VEHICLESENSE_SIM_VEHICLES=3
VEHICLESENSE_SIM_INTERVAL_SECONDS=2
VEHICLESENSE_SIM_SEED=42
VEHICLESENSE_SIM_QUEUE_LIMIT=500
